

body   {
    background: url("http://macaulay.cuny.edu/eportfolios/drabik10website/files/2010/04/sunset2.jpg");
    background-size:cover;
    background-color: azure;
    }

.red {color: red;}
.blue {color:blue;}
.white {color:white;}
#kam {padding-left: 8%;}
#od {padding-left: 65%}
